body{

    margin:0;
    font-family: ;
    background-image: url(_res/racionais.jpg);
    background-size:cover;
    background-repeat: no-repeat;

}

@font-face{
    font-family:'gangsta';
    src:url('_res/WalkDaWalkOne.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	
}

i{
    float:left;
    margin:20px;
    position:fixed;
    width:10px;
    color:rgb(83, 82, 82);
    bottom:50%;
    top:50%;
    
}

i:hover{
    color:black;
    cursor: pointer;
}

header{

    background-color: transparent;
    height:80%;
    border-bottom-right-radius: 13px;
    opacity: 0.7;

}

nav{

    color:black;
    margin-bottom:15px;
    max-width:100%;
    background-color:rgba(255, 255, 255, 0.308);
    

}

nav h1{

    margin-top:20px;
    margin-left:25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:30px;
    color:black;

}

ul li:hover{
	
    opacity:0.9;
    
}

footer{

    bottom:0;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;

}

.center{

    display:flex;
    align-items: center;
    justify-content: center;
	
}


table{

    opacity: 0.7;
    box-shadow: 3px 3px 3px rgb(0, 0, 0);
    

}

tr:hover{
    
    background-color: black;

}



