body {

    background: rgb(252, 252, 252);

}

div#janela ul {

    width:480px;
    margin:0 auto;
    padding:0;

}

div#janela ul li {

    list-style: none;
    display: inline-block;
    margin: 20px;

}

.callout {

    border-left: 4px solid rgb(240, 43, 43);

}

.bg-white {

    background-color: #fff;

}


.bg-secondary {

    background-color: rgb(192, 192, 192) !important;
    border-radius: 3px;

}