body{

    margin:0;
    padding:0;
    bcakground-color: #fff;

}

main{

    width:100%;
    font-family:'Raleway';
    

}

nav{

    line-height: 50px;
    width: 100%;
    background-color: transparent;
    font-size: 20px;
    box-shadow: 2px 2px 5px #bbb;
    background-color:#fff;
    

}


nav ul{

    margin:0;
    padding:0;
    list-style: none;

}

nav ul li{

    width: 3%;
    margin:0 auto;


}

nav ul li a{

    text-decoration: none;
    color:black;
    

}

article{

    width: 90%;
    position: relative;
    margin:0 auto;
    background-color:#fff;
    

}

h5{

    padding:5px 30px;

}


h6{

    padding:5px 30px;

}


p{

    padding:5px 35px;


}

form{

    padding:5px 30px;

}


input{

    width:10%;
    height: 20px;
    border-radius: 3px;
    border:1px solid rgb(182, 181, 181);
    padding-left:4px;
    outline: none;
    font-family: 'Raleway';

}

button{

    width:6%;
    height: 24px;
    border-radius: 3px;
    background-color: white;
    color:black;
    border:1px solid black;
    font-family: 'Raleway';

}

button:hover{

    border:1px solid black;
    background-color:black;
    color:white;
    box-shadow: 2px 2px 5px 1px #bbb;
    cursor:pointer;

}

#fahrenheit{

    background-color:rgb(240, 240, 240);

}

#json::selection{

    background-color: black;
    color:white;

}