body{

    margin:0;
    padding:0;
    
    

}

main{
     
    font-family:'Raleway';
    width:100%;
    height: 110px;

}

header{

    background-color: #000;
    height:110px;
    width:100%;
    position: fixed;
    box-shadow: 3px 3px 8px rgb(53, 53, 53);

}

nav{

    width:90%;
    padding-top:40px;
    padding-left:10px;
    
}

nav ul{

    margin:0;
    padding:0;
    list-style:none;
    width:100%;
    
    display:flex;
    align-items: center;
    justify-content: center; 
    
    
}

nav ul li{

    float:left;
    position:relative;

}

/* Main menu */
nav ul li a{

    display:inline-block;
    text-decoration: none !important;
    background-color: #000;
    color:white;
    border-radius: 3px;
    padding:5px 10px; /* cima/baixo esquerda/direita */
    border:1px solid #000;
    margin-right:1px;
    width:100px;
    text-align: center;

}

/* sub menu */
nav ul li ul{

    display:none;
    position:absolute;
    padding-top:1px;

}

/* sub menu itens */
nav ul li ul li a{

    width:230px;/* tem que ser em px pra todos ficarem do mesmo tamanho */
    text-align: center;
    margin-top: 1px;

}

nav ul li ul li a:hover{

    position:static;

}

/* the cat´s jump*/
nav li:hover ul{

    display:block;
    

}

nav ul li a:hover{

    border:1px solid #fff;
    background-color: #fff;
    color:black;
    box-shadow: 2px 2px 5px 1px #cccccc;

}


section img{

    width:210px;
    height: 110px;
    position:absolute;
    left:20px;
    


}

article{


    height:700px;
    background-color: #fff;
    padding:30px;
  
   


}

.parallax{
    

    background: url(../_res/nwa.jpg) no-repeat left top fixed;
   
    background-size:cover; 
    

    min-height: 677px; 


}


